<h3><a class="btn btn-secondary" href="/category"><i class="fa fa-plus"></i> Create New Product Category</a> Category List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category Code</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.productName}}</td>
            <td>{{this.categoryCode}}</td>
         
            <td>
                <a href="/category/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/category/delete/{{this._id}}" onclick="return confirm('Confirm Category Deletion');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>